body {
  background-color: lightblue;
}

.p1 {
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  font-size: 40px;
}

  h2 {
  font-size: 40px;
  }

    h3 {
  font-size: 40px;
    }

      h4 {
  font-size: 40px;
      }
        h5 {
  font-size: 40px;
        }

          h6 {
  font-size: 40px;
          }
