body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #091C41; ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #0D274A;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #66BB6A;
}

.nav-links a:hover {
    color: #66BB6A;
}

main {
    padding: 40px;
    text-align: center;
}

.name-section h1 {
    font-size: 42px;
    color: #66BB6A;
}

.content-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.left-section, .right-section {
    width: 30%;
}

.image-placeholder {
    width: 250px;
    height: 250px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    padding: 20px
}

.projects, .certifications, .portfolio, .clients-helped, .work-status {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.work-status p{
    color: white;
}

h2 {
    color: #66BB6A;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0D274A;
    text-align: center;
    text-emphasis-color: white;
}

.footer-left, .footer-center, .footer-right {
    width: 30%;
}

.footer-left ul {
    list-style: none;
    padding: 0;
}

.footer-left a {
    color: white;
    text-decoration: none;
}
 .footer-center p {
    color: white;
    text-decoration: none;
}

.footer-right h3{
    color: #66BB6A;
}

.footer-center h3{
    color: #66BB6A;
}

.footer-left h3{
    color: #66BB6A;
}

.footer-right p{
    color: white;
    text-decoration: none;
}

.footer-left a:hover {
    color: #66BB6A;
}

.Projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    justify-content: center;
}

.projectsec {
    background-color: #0D274A;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.Projects{
    padding: 20px;
    margin-bottom: 20px;
    
}

.project-header{
align-items:center;
}

.project-headerinfo{
align-items: center;
color: white;
}

.project-header h1 {
color: #66BB6A

}

.project-header p{
color: white;
}
